/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
  }
  
  header {
    background: #3a4a6a;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  a {
    color: #3a4a6a;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #ff6666;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 1.5rem;
    color: #3a4a6a;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  /* Link Styles */
  section a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #3a4a6a;
    background-color: white;
    color: #3a4a6a;
    border-radius: 5px;
  }
  
  section a:hover {
    background-color: #3a4a6a;
    color: white;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #3a4a6a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #ff6666;
  }
  
  /* Hidden Class for Sections */
  .hidden {
    display: none;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    header {
      font-size: 1.2rem;
    }
    
    main {
      padding: 10px;
    }
    
    section a {
      padding: 8px 15px;
      font-size: 0.9rem;
    }
  }
  